
.slides .left-align {
  text-align: left;
}

.slides .right-align {
  text-align: right;
}

.slides .color-white {
  color: white;
}

.slides .noborder {
  background:none;
  border:none;
  box-shadow:none;
}

.slides .big  {
  font-size: "x-large";
}
